:root {
    --clr-accent: hsl(75, 94%, 57%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-gray: hsl(0, 0%, 20%);
    --clr-neutral-dark-grey: hsl(0, 0%, 12%);
    --clr-off-black: hsl(0, 0%, 8%);

    --fs-body: 0.875rem;
    --ff-body: 'Inter', sans-serif;


    /* - Weights: 400, 600, 700 */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

body {
    background: var(--clr-off-black);
    color: var(--clr-neutral-white);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: 400;
    width: 100%;
    min-height: 100vh;
    place-content: center;
    display: grid;
}

/* typography */

.primary-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.location {
    color: var(--clr-accent);
    font-weight: 700;
    margin: 0.5em 0 2em;
}

.subheading {
    margin-block: 1.715em;
}

/* general styling */

.card {
    width: 100%;
    background: var(--clr-neutral-dark-grey);
    padding: 1.785em;
    text-align: center;
    border-radius: 1em;
    
}

.card .card__img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
} 

.card ul{
    list-style: none;
}

.card ul li:not(:last-child) {
    margin-bottom: 0.715em;
}

.btn {
    width: 300px;
    display: block;
    cursor: pointer;
    font-weight: 600;
    background: var(--clr-neutral-gray);
    color: var(--clr-neutral-white);
    padding-block: 0.75em ;
    border-radius: 0.5rem;
    text-decoration: none;
}

.btn:hover,
.btn:focus-visible {
    background: var(--clr-accent);
    color: var(--clr-off-black);
}
